global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: 'otel-collector'
    honor_timestamps: true
    scrape_interval: 15s
    scrape_timeout: 10s
    static_configs:
      - targets: ['otel-collector:8889']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'dbclient'
    static_configs:
      - targets: [ 'dbclient_exporter:9187' ]

  - job_name: 'dbbanque'
    static_configs:
      - targets: [ 'dbbanque_exporter:9188' ]

rule_files:
  - './rules.yml'